
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: #333;
}

form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    background-color: #fff;
}

label {
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#productList li {
    padding: 10px;
    list-style-type: none;
    margin: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}
